<%= form_for(@reuniaoletra) do |f| %>
  <% if @reuniaoletra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reuniaoletra.errors.count, "error") %> prohibited this reuniaoletra from being saved:</h2>

      <ul>
      <% @reuniaoletra.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
  <%= f.label :nome %><br>
   <div class="row">
    <div class="col-xs-6">
      <%= f.text_area :nome %><br>
    </div>
  </div>    
  <%= f.label :data %><br>
 <div class="row">
    <div class="col-xs-3">
        <%= f.text_field :data, { type: "date"} %><br><br>
        <%= link_to_add_association 'Adicionar Letras +', f, :letras_reunioesletras,
            'data-association-insertion-node' => "#letras-reunioes ol",
            'data-association-insertion-method' => "append",
            :wrap_object => Proc.new {|lr| lr.build_letra; lr } %>
        <br>
        <br>
    </div>
 </div>               
     
  <fieldset id="letras-reunioes"  style="width: 30%;">
   <ol>
      <%= f.fields_for :letras_reunioesletras do |lr| %>
         <%= render partial: "letra_reuniaoletra_fields", locals: { f: lr } %>
      <% end %>
   </ol>
  </fieldset>
</div>           

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
