<ul class="nav nav-pills">
  <li role="presentation" class="active"><%= link_to 'Cadastrar Nova Reunião', new_reuniaoletra_path %></li>
  <li role="presentation" class="active"><%= link_to 'Pagina Inicial', root_path %></li>
</ul>

<h2>Louvor Reunião</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nome Reunião</th>
      <th>Data Reunião</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @reunioesletras.each do |reuniaoletra| %>
      <tr>
        <td><%= reuniaoletra.nome %></td>
        <td><%= reuniaoletra.data %></td>
        <td><%= link_to icon('eye', class: 'fa-eye'), reuniaoletra %></td>
        <td><%= link_to icon('pencil-square', class: 'fa-pencil-square'), edit_reuniaoletra_path(reuniaoletra) %></td>
        <td><%= link_to icon('trash', class: 'fa-trash'), reuniaoletra, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @reunioesletras, :previous_label => 'Anterior', :next_label => 'Próximo', class: "pager" %>