<ul class="nav nav-pills">
  <li role="presentation" class="active"><%= link_to 'Novo Recado', new_recado_path %></li>
  <li role="presentation" class="active"><%= link_to 'Pagina Inicial', root_path %></li>
</ul>

<h2>Listar Recados</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Interessado</th>
      <th>Recado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recados.each do |recado| %>
      <tr>
        <td><%= recado.interessado %></td>
        <td><%= recado.recado %></td>
        <td><%= link_to icon('eye', class: 'fa-eye'), recado%></td>
        <td><%= link_to icon('pencil-square', class: 'fa-pencil-square'), edit_recado_path(recado) %></td>
        <td><%= link_to icon('trash', class: 'fa-trash'), recado, method: :delete, data: { confirm: 'Você tem certeza?' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @recados, :previous_label => 'Anterior', :next_label => 'Próximo', class: "pager" %>