<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Ferramentas de apoio utilizadas em nossas reuniões.</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <br>
                    <a <%= link_to 'Palavras', 'letras', target: '_blank' %></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-music wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <br>
                    <a <%= link_to 'Letras de Músicas', 'letras', target: '_blank' %></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar-check-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <br>
                    <a <%= link_to 'Eventos', 'letras', target: '_blank' %></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-play-circle wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <br>
                    <a <%= link_to 'Videira News', 'letras', target: '_blank' %></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-sticky-note-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <br>
                    <a <%= link_to 'Recados e Avisos', 'recados', target: '_blank' %></a>
                </div>
            </div>
        </div>
    </div>
</section>
