<ul class="nav nav-pills">
  <li role="presentation" class="active"><%= link_to 'Pagina Inicial', root_path %></li>
  <li role="presentation" class="active"><%= link_to 'Louvor Reuniões', reunioesletras_path %></li> 
</ul>

<h2>Localizar</h2>
<%= form_tag letras_path, method: :get do %>
  <%= text_field_tag :localizar, params[:localizar]%>
  <%= submit_tag 'Buscar' %>
<% end %>

<h2>Letras das Músicas</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cantor</th>
      <th>Visualizar</th>
    </tr>
  </thead>

  <tbody>
    <% @letras.each do |letra| %>
      <tr>
        <td><%= letra.nome %></td>
        <td><%= letra.cantor %></td>
        <td><%= link_to icon('eye', class: 'fa-eye'), letra.arquivo_url, disposition: 'inline', target: '_blank', title: "Visualizar" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @letras, :previous_label => 'Anterior', :next_label => 'Próximo', class: "pager" %>